body {
    background: url('../images/green-slate.jpg');
    color: white;
    background-size: cover;
}
.main-content__body {
    font-family: ui-serif;
    font-weight: bold;
    font-size: 32;
    letter-spacing: 0.5px;
}
.main-content__checkmark {
    font-size: 6rem;
    line-height: 1;
    color: #24b6b6;
}
@media(min-width:900px){
.main-content__body {
    font-size: 42px !important;
}
}
@media only screen and (max-width: 700px) {
	.site-header__title {
		font-size: 2.6rem;
	}
}